{% extends "base.html" %}
{% block central_content %}

    <div class="container-fluid ">
        <h4 class="pt-2">Bought Offers</h4>
        {% if bought_offers %}
            <div class="row d-flex" >
                {% for offer in bought_offers %}
                    <div class="col-2 d-flex  "> {% comment %}d-flex align-items-stretch  flex-row flex-nowrap{% endcomment %}
                        {% include "posts/offer/card_main_home.html" with offer=offer userObject=None main_home=True%}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            No Bought Offers Found
        {% endif %}
    </div>

{% endblock %}